<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <div id="profil-img" class="shadow">
                <p>IK</p>
            </div>
            <span>kehelbrahim@gmail.com</span>
            <span>kehel ibrahim</span>
        </div>
    </div>
    <br>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="indicateurs">
        <mat-icon class="material-icons">settings</mat-icon>
        <mat-icon class="material-icons">stacked_line_chart</mat-icon>
        <span>Indicateurs</span>
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="#">
        <mat-icon class="material-icons">settings</mat-icon>
        <mat-icon class="material-icons">receipt_long</mat-icon>
        <span>Publications</span>
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="#">
        <mat-icon class="material-icons">settings</mat-icon>
        <mat-icon class="material-icons">library_books</mat-icon>
        <span>Etudes</span>
    </a>
    <mat-divider></mat-divider>
</mat-nav-list>