<mat-divider></mat-divider>
<footer class="mt-auto mb-0">
    <div class="box">
        <span>
            <ul>
                <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook-f" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a></li>
            </ul>
        </span>
    </div>
    <span id="ftext">&copy; All rights reserved (Beta version by KEHEL)</span>
</footer>