footer{
    background-color: #334257;
    font-family: "Poppins" , serif;
}
.box{
    margin:0 auto;
    text-align: center;
}
 .box span {
    display:inline-flex;
    margin-top: 4px;
}
 .box ul {
    margin:0;
    padding:0;
}
 .box ul li {
    list-style:none;
    float:left;
}
 .box ul li a {
    display:block;
    color:#F6F5F5;
    margin:0 10px;
    font-size:20px;
    transition:0.5s;
    text-align:center;
}
 .box ul li:hover a {
    color:#548CA8;
    transform:rotateY(360deg);
}
#ftext{
    margin-top: 4px;
    margin-left:5px;
    color: #F6F5F5;
}