:host{
    display:flex;
    flex-direction: column;
    height: 100%;
}
mat-drawer{
    width:350px;
    background-color: #334257;
    color: white;
}
mat-drawer-container{
    height:100vh;
} 
mat-drawer-content{
    padding: 20px;
}